
# [controller_fan my_controller_fan] ## FAN2
# pin: PB15
# kick_start_time: 0.500
# heater: heater_bed, extruder
# heater_temp: 35.0
# idle_timeout: 30
# fan_speed: 0.9
# stepper: stepper_x, stepper_y, stepper_z, extruder

# [temperature_fan my_temp_fan]
# pin: PB15
#max_power:
#sensor_type:
#sensor_pin:
#control:
#max_delta:
#min_temp:
#max_temp:
#   See the "extruder" section for a description of the above parameters.


[temperature_fan pi_fan]
pin: PB15
control: watermark # the type of hysteresis we are using
max_delta: 3.0 # fan turns on/off at 3° over/under target_temp
sensor_type: temperature_host # same as a temp_sensor
min_temp: 0
max_temp: 90
target_temp: 45

