# This file contains common pin mappings for the BigTreeTech SKR 3.
# To use this config, the firmware should be compiled for the
# STM32H743 with a "128KiB bootloader".

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include macros.cfg]

[exclude_object]

[include KAMP_Settings.cfg]

[pause_resume]
recover_velocity: 120

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_270024000B504B5735313920-if00

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

[input_shaper]
shaper_freq_x: 74.73
shaper_freq_y: 66.4
shaper_type: mzv

[stepper_x]
enable_pin: !PA15
step_pin: !PC8
dir_pin: !PC9
microsteps: 16
rotation_distance: 40
endstop_pin: PD3
position_endstop: 0
position_min: 0
position_max: 242
homing_speed: 80
second_homing_speed: 20

[stepper_y]
enable_pin: !PA13
step_pin: !PA10
dir_pin: !PA14
microsteps: 16
rotation_distance: 40
endstop_pin: PD2
position_endstop: 0
position_min: 0
position_max: 235
homing_positive_dir: false
homing_speed: 80
second_homing_speed: 20

[stepper_z]
enable_pin: !PA9
step_pin: PC6
dir_pin: PC7
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 275

[stepper_z1]
enable_pin: !PA8
step_pin: PB12
dir_pin: PB11
microsteps: 16
rotation_distance: 8

[extruder]
enable_pin: !PC4
step_pin: PB0
dir_pin: PB1
microsteps: 16
rotation_distance: 3.342 # gear_ratio: 7:1
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100
heater_pin: PC5
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: 0
max_temp: 270
control: pid
pid_kp = 17.301
pid_ki = 0.520
pid_kd = 144.032
max_extrude_cross_section: 5 # For KAMP's Adaptive Purge
# pressure_advance: 0.02

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
min_temp: 0
max_temp: 110
control = pid
pid_kp = 67.706
pid_ki = 0.917
pid_kd = 1249.185

[heater_fan Extruder_Fan]
pin: PA3
heater: extruder
heater_temp: 50.0

[fan]
pin: PA4

#[heater_fan pi_fan]
# TODO: Find sensor for pi
#pin: GPIO26

[safe_z_home]
home_xy_position: 117.5, 117.5
speed: 80
z_hop: 8

[bltouch]
sensor_pin: PC13
control_pin: PC15
x_offset: -36.5
y_offset: 1.0
#z_offset: 2.4
speed: 8
samples: 4
samples_tolerance: 0.0125
samples_result: median
sample_retract_dist: 2
probe_with_touch_mode: true
stow_on_each_sample: false

#[filament_motion_sensor filament_sensor]
#switch_pin: PC2
#extruder: extruder
#pause_on_runout: true

[bed_mesh]
speed: 120
mesh_min: 6, 14
mesh_max: 205.5, 235
probe_count: 9, 9
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[temperature_sensor Manta_M5P]
sensor_type: temperature_mcu

[temperature_sensor BTT_CB1]
sensor_type: temperature_host

[neopixel Hotend_Light]
pin: PC11
chain_count: 1
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PD9
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PD8
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PB10
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PB2
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PA6
run_current: 0.800

[gcode_arcs]
resolution: 0.1

########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.44 #2.484
